<div class="text-center my-4">
  <picture>
    <source media="(min-width:62rem)" srcset="https://strapi.getthewolfs.com/uploads/medium_logo_ad_h_21cd25d33b.png" alt="Horizontal Logo and Printers">
    <source media="(min-width:28rem)" srcset="https://strapi.getthewolfs.com/uploads/medium_logo_ad_v_ea32df3c3e.png" alt="Vertical Logo and Printers">
    <img src="https://strapi.getthewolfs.com/uploads/thumbnail_Logo_J_Printing_4e63567602.png" alt="Logo only" style="width:auto;">
  </picture>
</div>
<div class="mx-5">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Vitae
    proin
    sagittis nisl rhoncus mattis rhoncus urna neque. Arcu vitae elementum curabitur vitae nunc. Magna fringilla urna porttitor rhoncus dolor purus. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Semper auctor neque vitae tempus
    quam pellentesque nec nam. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Eget est lorem ipsum dolor sit. Varius duis at consectetur lorem donec.</p>
</div>
