<div>
    <img src="/assets/image.jpeg" alt="about_image">
</div>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Vitae proin
        sagittis nisl rhoncus mattis rhoncus urna neque. Arcu vitae elementum curabitur vitae nunc. Magna fringilla urna porttitor rhoncus dolor purus. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Semper auctor neque vitae tempus
        quam pellentesque nec nam. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Eget est lorem ipsum dolor sit. Varius duis at consectetur lorem donec.</p>
</div>
